.input {
  display: block;
}

.input_has_error .input__el {
  border-color: #ff4d4d;
}

.input__el {
  padding: 20px;
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  outline: none;
  box-shadow: 1px 1px 10px 4px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s;
}

.input__el:focus {
  box-shadow: 1px 1px 20px 4px rgba(255, 255, 255, 0.3);
}

.input__error {
  margin-top: 2px;
  padding: 4px 8px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: #ff4d4d;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}
