.employees {
  display: block;
}

.employees__list {
  margin-top: 10px;
  overflow-y: auto;
  height: calc(100vh - 198px);
}

.employees__header {
  display: flex;
  width: 100%;
}

.employees__header span {
  flex: 1;
  text-align: center;
}
