.search {
  position: relative;
}

.search__input {
  padding: 20px;
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  outline: none;
  box-shadow: 1px 1px 20px 4px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s;
}

.search__input:focus {
  box-shadow: 1px 1px 20px 4px rgba(255, 255, 255, 0.3);
}

.search__dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
