.deplist {
  display: block;
}

.deplist__list {
  margin-top: 10px;
}

.deplist__item {
  margin-top: 10px;
}

.deplist__item:first-child {
  margin-top: 0;
}

.deplist__title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
